@import "./../../styles/_vars.scss";

.pagination {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  color: $gray;
}

.arrow {
    border: solid $blue;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    top: 6px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.8;
    }
}

.right {
    left: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    right: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}